<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.station.dao.level.LevelMapper">
    <select id="getAllInfoByStation" resultType="java.util.Map">
        select time, iftyph, hpre, hyubao, manual from ${station}
    </select>

    <select id="getNoTyph72ByStation" resultType="java.util.Map">
        select time, hpre from ${station} where iftyph=0 and manual=0
    </select>

    <select id="getTyph72ByStation" resultType="java.util.Map">
        select hyubao from ${station} where iftyph=1 and manual=0
    </select>

    <select id="getNoTyphAllByStation" resultType="java.util.Map">
        select hz from ${station} where iftyph=0 and manual=0
    </select>

    <select id="getNoTyph72ManualByStation" resultType="java.util.Map">
        select hpre from ${station} where iftyph=0 and manual=1
    </select>

    <select id="getTyph72ManualByStation" resultType="java.util.Map">
        select hyubao from ${station} where iftyph=1 and manual=1
    </select>

    <select id="getNoTyphAllManualByStation" resultType="java.util.Map">
        select hz from ${station} where iftyph=0 and manual=1
    </select>
</mapper>