<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.station.dao.nc.NCMapper">

    <select id="getTxtPathByTime" resultType="java.lang.String">
        select path from NC where time=#{time} and type="result"
    </select>

    <select id="getAll" resultType="java.util.Map">
        select path,name from NC
    </select>

    <select id="getInfoByTimeAndType" resultType="java.util.Map">
        select path,name from NC where time=#{time} and type=#{type}
    </select>
</mapper>
